.faeasypdf-button-container {
	width:100%;
	float:left;
	padding-top: 20px;
	padding-bottom: 40px;
}

a.faeasypdf-button {
	display: inline-block;
}

a.faeasypdf-button:link, a.faeasypdf-button:visited {

}

a.faeasypdf-button:hover {

}

a.faeasypdf-button span.faeasypdf-button-icon {
	font-size:140%;
	margin-right:5px;
}

.faeasypdf-content {}